@using net_core_mvc.Models
@model net_core_mvc.Models.Message
@{
    ViewData["Title"] = "Joe's Guest Book";
}
    <div id="Home" class="w3-center">
            <video id="grab" onclick="document.getElementById('Chime2').play()" style="width:25%; margin-left:99em;margin-top:-5em;" alt="Video Head" class="w3-circle" autoplay loop muted playsinline preload="auto">
                <source src="~/videos/Dallas-Edit.mp4" type="video/mp4">
                <source src="~/videos/Dallas-Edit.mp4" type="video/webm">
                <source src="~/videos/Dallas-Edit.mp4" type="video/ogg">
                <object>
                    <embed src="~/videos/Dallas-Edit.mp4" type= "application/x-shockwave-flash" allowfullscreen="false" allowscriptaccess="always" />
                </object>   
                Your browser does not support the video tag.
            </video> 
     </div>

<a title="Home" onclick="document.getElementById('bat').play(), window.history.back();"><img id="arro"style="width:3em; position:fixed; bottom:2em; right: 2em; z-index:3;" class="fa-rotate-270" src="~/images/arrow.png"></a>
<table style="opacity:.75;border-radius:1em; background-color: silver; border-collapse: collapse; width: 80%; margin:auto; margin-bottom: 3em;">
    <tr style="font-family:'Orbitron', sans-serif; margin:10em;border-bottom: 1px solid black;">
        <th style="width: 15%; font-size: 1em; text-align: left; padding: 2em;">Guests</th>
        <th style="width: 50%; font-size: 1em; text-align: center; padding: 2em;">Note</th>
        <th style="width: 15%; font-size: 1em; text-align: Right; padding: 2em;">Date/Time</th>
    </tr>
@foreach ( var note in @ViewBag.allmessages ){
    <tr style="border-radius:1em; font-family:'Orbitron', sans-serif;">
        <td style="text-align: left; padding: .5em;">@note.Name</td>
        <td style="text-align: center; padding: .5em;">@note.Note</td>
        <td style="text-align: right; padding: .5em;">@note.CreatedAt CST</td>
    </tr>
}

<div class="w3-center w3-bottom" style="height:3em;
    background: radial-gradient(white, black,transparent 90%);
    background: -webkit-radial-gradient(white, black,transparent 90%);
    /* For Opera 11.6 to 12.0 */
    background: -o-radial-gradient(white, black,transparent 90%);
    /* For Firefox 3.6 to 15 */
    background: -moz-radial-gradient(white, black,transparent 90%);"><h5>Thanks for the Note!</h5></div>
    